@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto&display=swap');
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #304030;
  color: #e8e8e8;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;
}
